.add-base-container-button {
    -fx-background-radius: 0;
    -fx-pref-width: infinity;
    -fx-font-weight: bold;
    -fx-font-size: 2em
}

.base-controls-top {
    -fx-padding: 0.5em 1em 0 1em;
}

.base-controls-bottom {
    -fx-alignment: center;
    -fx-padding: 0 1em 1em 1em;
}

.base-controls-bottom .left-controls {
    -fx-spacing: 0.25em;
}

.base-controls-bottom .base-control-button {
    -fx-pref-height: 2.25em;
    -fx-background-radius: 2em;
    -fx-alignment: center;
}

.base-controls-bottom .base-control-button.clear-button {
    -fx-min-width: 4em;
    -fx-pref-width: 6em;
}

.base-controls-bottom .base-control-button.close-button {
    -fx-min-width: 2.25em;
    -fx-pref-width: 2.25em;
}

.base-controls-bottom .base-control-result {
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
    -fx-padding: 0;
    -fx-alignment: center-right;
    -fx-background-color: transparent;
}

.base-controls-top .base-control-base,
.base-controls-top .base-control-step {
    -fx-max-width: 4em;
    -fx-max-height: 3em;
    -fx-alignment: center;
}

.base-controls-top .base-control-step {
    -fx-background-radius: 0;
}

.base-controls-top .base-control-button {
    -fx-pref-width: 1.5em;
    -fx-padding: 0;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.base-controls-top .base-control-button.add-button {
    -fx-background-radius: 0 1em 1em 0;
}

.base-controls-top .base-control-button.remove-button {
    -fx-background-radius: 1em 0 0 1em;
}

.base-container {
    -fx-min-height: 18.75em;
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 0.1em 0;
}

.base-container .boxes {
    -fx-padding: 0 1em;
}

.base-container .boxes,
.base-box-collection {
    -fx-alignment: center-right;
    -fx-spacing: 0.25em;
}

.base-container .boxes > .base-box-add-button {
    -fx-translate-y: -0.1em;
}

.base-container .boxes > .base-box-add-button,
.base-field {
    -fx-font-size: 4em;
    -fx-pref-height: 1em;
    -fx-pref-width: 1.5em;
    -fx-padding: 0;
}

.base-box {
    -fx-alignment: top-center;
}

.base-box > .field-calculation {

}

.base-box > .field-base-exponent {
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}

.base-field {
    -fx-cursor: hand;
    -fx-alignment: center;
}

.base-field:highlighted {
    -fx-cursor: text;
}

.labeled-box {
    -fx-alignment: center;
}

.developer-info {
    -fx-padding: 0.1em 0.5em 0.1em 0.5em;
    -fx-border-color: #ccc;
    -fx-border-width: 0.1em 0 0 0;
    -fx-alignment: center;
}

.developer-info HBox {
    -fx-alignment: center-left;
}

.context-menu {
    -fx-font-weight: normal;
    -fx-font-size: 12pt;
}

.scroll-pane,
.scroll-pane:focused,
.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #f4f4f4;
    -fx-background-insets: 0;
}
